
.container {
  margin-inline: auto;
  display: grid;
  justify-content: center;
}

.wrapper {
  max-width: 600px;
  background-color: #008000;
  margin-top: 30px;
  border: 3px solid white;
  display: grid;
  margin-inline: auto;

  justify-content: center;
  position: relative;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
}

.wrapper::before {
  top: 50%;
}

.wrapper::after {
  bottom: 50%;
}
body {
  background-color: #809780;
}

.user {
  display: grid;
  justify-content: space-around;
  text-align: center;
  width: calc(750px / 2);
  height: calc(750px / 2);
  color: rgb(47, 48, 50);
}
.card-slot {
  height: 130px;
  width: 100%;
  margin-inline: auto;
  border: 3px solid white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.tablo-slot {
  display: flex;
  gap: 250px;
}

.input-tablo {
  margin-top: 8px;
  width: 40px;
}

.enough {
  background-color: red;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  transition: 0.2s ease-in-out;
}
.start {
  transition: 0.2s ease-in-out;
}
.start:hover {
  background-color: rgb(111, 227, 61);
}

.enough:hover {
  background-color: rgb(243, 127, 152);
}
.btn {
  padding: 3px 9px;
  color: rgb(45, 41, 41);
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.label-input-slot {
  width: 175px;
}

.cardSumTotal {
  text-align: center;
  width: 45px;
}

.ring {
  position: relative;
  z-index: 999;
  width: 250px;
  height: 40px;
  background-color: rgb(113, 240, 16);
  margin-inline: auto;
  border: 2px solid;
  display: flex;
  align-items: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

#newGame {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  padding: 10px;
  margin-top: 20px;
  background-color: green;
  transition: 0.2s ease-in-out;
}
#newGame:hover {
  background-color: red;
  color: white;
}
.A {
  border: 1px solid;
  height: 75px;
  margin-top: 10px;
  padding: 5px;
  background: rgb(234, 255, 0);
}

.A11,
.A1 {
  cursor: pointer;
}
.A11 {
  background-color: rgb(51, 198, 51);
  width: 30px;
  transition: 0.2s ease-in-out;
}

.A11:hover {
  background-color: rgb(22, 179, 22);
}

.A1 {
  background-color: rgb(237, 115, 115);
  width: 30px;
  transition: 0.2s ease-in-out;
}
.A1:hover {
  background-color: rgb(205, 54, 54);
}

p{
  display: flex;
  align-items: center;
  font-weight: bold;
}