.wrapper {
  width: 600px;
  background-color: #008000;
  margin-inline: auto;
  margin-top: 30px;
  border: 3px solid white;
  display: grid;
  justify-content: center;
  position: relative;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 1px;
  background-color: white;
}

.wrapper::before {
  top: 50%;
}

.wrapper::after {
  bottom: 50%;
}
body {
  background-color: #809780;
}

.user {
  display: grid;
  justify-content: space-around;
  text-align: center;
  width: calc(750px / 2);
  height: calc(750px / 2);
  color: rgb(47, 48, 50);
}
.card-slot {
  height: 130px;
  width: 100%;
  margin-inline: auto;
  border: 3px solid white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.tablo-slot {
  display: flex;
  gap: 250px;
}

.input-tablo {
  margin-top: 8px;
  width: 40px;
}

.enough {
  background-color: red;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: white;
}

.enough:hover {
  background-color: rgb(243, 127, 152);
}
.btn {
  padding: 3px 9px;
  color: rgb(45, 41, 41);
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.label-input-slot {
  width: 175px;
}

.cardSumTotal {
  text-align: center;
  width: 35px;
}

.ring {
  position: relative;
  z-index: 999;
  width: 250px;
  height: 40px;
  background-color: rgb(113, 240, 16);
  margin-inline: auto;
  border: 2px solid;
  display: flex;
  align-items: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

#newGame {
  cursor: pointer;
  display: flex;
  margin-inline: auto;
  padding: 10px;
  margin-top: 20px;
  background-color: green;
  transition: .2s ease-in-out;

  &:hover{
    background-color: red;
    color: white;
  }
}
